<h1>Корзина</h1>
<div id="card">
    {{#if courses.length}}
    <table>
        <thead>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Удаление</th>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>{{price}}</td>
                <td><button class="btn btn-small js-remove" data-id="{{id}}" data-csrf="{{@root.csrf}}">Удалить</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>
        <strong>Total:</strong>
        <span class="price">{{price}}</span>
    </p>
    <form action="/orders" method="post">
        <!--add token -->
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <!--end token-->
        <button type="submit" class="btn">send order</button>
    </form>

    {{else}}
    <h2>Table emply</h2>
    {{/if}}
</div>