<h1>Корзина</h1>


{{#if courses.length}}
<table>
    <thead>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Удаление</th>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>{{price}}</td>
            <td><button class="btn btn-small">Удалить</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>
    <strong>Total:</strong>
    <span class="price">{{price}}</span>
</p>
{{else}}
<h2>Table emply</h2>

{{/if}}